html {
    scroll-behavior: smooth;
    letter-spacing: 1px;
}

/* **************** Colors section **************** */

.bg-nav {
    background-color: #c9c9c9;
}

.bg-menu {
    background-color: rgb(212, 212, 212);
}

.bg-submenu {
    background-color: rgb(230, 230, 230);
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #dddddd;
}

.text-red {
    color: #721c24 !important;
}

/* **************** Links and buttons section **************** */

.link:hover, 
.link:active {
    color: #117777 !important;
}

.btn-signup {
    color: #721c24 !important;
    background-color: #dde01b;
    border-radius: 10%;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #721c24;
    color: #dde01b !important;
}

/* **************** Category section **************** */

.category {
    width: 18em;
}

.catParentDiv {
    max-height: clamp(5em,30vh,40vh);
    overflow: auto;
}

.catDivs {
    line-height: 2em;
    padding: .5em;
}

.catName {
    margin-right: 1em;
    border-radius: 10%;
    background-color: #721c24;
    color: #dde01b;
    text-decoration: none;
    max-height: 4em;
    word-break: break-all;
    overflow: hidden;
}

.catName:hover {
    color: #721c24;
    background-color: #dde01b;
}

.itemForm {
    width: 18em;
}

/* **************** Items section **************** */

.welcome {
    background-color: #721c24;
    color: #dde01b;
    width: fit-content;
    border-radius: 10%;
    padding: .5em;
}

.itemDivs {
    border-radius: 10%;
    margin: .2em;
    max-width: 8em;
    max-height: fit-content;
    box-shadow: 0 10px 20px #721c24;
    word-break: break-all;
}

.notes {
    font-size: small;
}

.searchBar {
    max-width: 15em;
}

hr {
    margin: .3em;
}

/* **************** Alerts section **************** */

.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.msg-container {
    align-items: center;
    justify-content: center;
}

.alert {
    padding: .5em;
}
