
.thin {
    font-weight: 300;
}

.bg-purple {
    background-color: #7791c9;
}

.bg-menu {
    background-color: rgb(212, 212, 212);
}

.bg-submenu {
    background-color: rgb(230, 230, 230);
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.tbodyDiv{
    max-height: clamp(5em,50vh,60vh);
    overflow: auto;
}

.catDivs {
    line-height: 2em;
    padding: .5em;
}
