<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="{% url 'items' %}" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Categories</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            {% for category in category %}
                                <li><a class="dropdown-item" href="#">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                        <form method="POST">
                            {% csrf_token %}
                            {{ add_category|crispy }}
                            <div>
                                <p>
                                    <button type="submit">Add Category</button>
                                </p>
                            </div>
                        </form>
                    </li>
                    
                    <li>
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Add Items</span></a>
                        <div class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <form method="POST">
                                {% csrf_token %}
                                {{ add_item|crispy }}
                                <div>
                                    <p>
                                        <button type="submit">Add Item</button>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </li>
                    
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">loser</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col py-3">
            <div class="col-md-6 offset-md-3">
                <div class="offset-md-4 col-lg-4 my-auto py-1 py-lg-0">
                    <form method="GET" action="{% url 'items' %}">
                        <div class="input-group m-3 w-100">
                            <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search for items">
                            <div class="input-group-append">
                                <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                    <span class="icon">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div style="max-height: clamp(5em,70vh,60vh);overflow: auto; width: 100%;">
                    <table class="table table-bordered bg-white table-striped">
                        <thead class="thead-dark sticky-top bg-dark text-white">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Category</th>
                                <th scope="col">Notes</th>
                                <th scope="col">Update</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items %}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.category }}</td>
                                <td>{{ item.notes }}</td>
                                <td>
                                    <a class="btn btn-info btn-sm mr-2"
                                        href="{% url 'item-edit' item.id %}">Edit</a>
                                    <a class="btn btn-danger btn-sm ml-2"
                                        href="{% url 'item-delete' item.id %}">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    
    <form method="GET">
        <div class="dropdown">
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Select a category
            </button>
            <span class="caret"></span></button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <input class="form-control" id="myInput" type="text" placeholder="Search..">
                {% for category in category %}
                <li><a class="dropdown-item" href="#">{{ category.name }}</a></li>
                {% endfor %}
                <button type="button" class="btn btn-outline-success"><a class="dropdown-item" href="/add_category">Add a new category</a></button>
            </ul>
        </div>
    </form>
        {% for message in messages %}
            {% if message %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endif %}
        {% endfor %}
        <div class="aside">
            <div class="col-md-2">
                {% for message in messages %}
                {% if message %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endif %}
                {% endfor %}
                <form method="POST">
                    {% csrf_token %}
                    {{ add_category|crispy }}
                    <div>
                        <p>
                            <button type="submit">Add Category</button>
                        </p>
                    </div>
                </form>
                <form method="POST">
                    {% csrf_token %}
                    {{ add_item|crispy }}
                    <div>
                        <p>
                            <button type="submit">Add Item</button>
                        </p>
                    </div>
                </form>
            
            </div>
        </div>
    <div class="col-md-6 offset-md-3">
        <div class="offset-md-4 col-lg-4 my-auto py-1 py-lg-0">
            <form method="GET" action="{% url 'items' %}">
                <div class="input-group m-3 w-100">
                    <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search for items">
                    <div class="input-group-append">
                        <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div style="max-height: clamp(5em,70vh,60vh);overflow: auto; width: 100%;">
            <table class="table table-bordered bg-white table-striped">
                <thead class="thead-dark sticky-top bg-dark text-white">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Category</th>
                        <th scope="col">Notes</th>
                        <th scope="col">Update</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.category }}</td>
                        <td>{{ item.notes }}</td>
                        <td>
                            <a class="btn btn-info btn-sm mr-2"
                                href="{% url 'item-edit' item.id %}">Edit</a>
                            <a class="btn btn-danger btn-sm ml-2"
                                href="{% url 'item-delete' item.id %}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>